<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Assistant" rel="stylesheet">
    <title>Your Daily Journal</title>
</head>
<body>
    <div class="background">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/journals">Past Journals</a></li>
        </ul>
        <h1>What are you working on today?</h1>
            <form method="post" action="/journals">
                <div>
                    <textarea type="textarea" name="entry" placeholder="Start typing..." required></textarea>
                </div>
                <input type="submit" value="Submit" class="button">
            </form>
    </div>
</body>
</html>