<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/journal-styles.css">
    <link href="https://fonts.googleapis.com/css?family=Assistant" rel="stylesheet">
    <title>Your Journal Entries</title>
</head>
<body>
    <div class="background">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/journals">Past Journals</a></li>
        </ul>
        <h1>Past Journal Entries</h1>

        <% entries.forEach(Entry => { %>
            <div class="journal-entries"><%= Entry.createdAt.toISOString().split('T')[0] %> <br> <br>
                <%= Entry.entry %></div>
        <% }) %>

    </div>
</body>
</html>