/* Document-wide Styling */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Assistant', sans-serif;
    padding: 0px;
    margin: 0px;
}

/* Over-riding Default Styling set by browser */

h1 {
    font-weight: normal;
    margin: 0;
    padding: 0;
}

h3 {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    font-weight: 100;
}

a { color: #000000 }

    a:visited { text-decoration: none; color: #000000; }
    a:hover { text-decoration: none; color:#000000; }
    a:focus { text-decoration: none; color:#000000; }
    a:hover, a:active { text-decoration: none; color:#000000; }

p {
    margin: 0;
    padding: 0;
}

/* Styling for the hero container */

.hero {
    position: relative;
    height: 900px;
    overflow: hidden;
    background: url(../images/hero.jpg);
    background-size: cover;
    z-index: -2;
}

/* Nav Bar Styles */
.nav {
    position: absolute;
    top: -.8rem;
    right: 2rem;
}

.nav-container {
    position: absolute;
    top: -.8rem;
    background: rgba(196, 196, 196, 0.8);
    height: 32px;
    width: 100%;
    position: absolute;
    margin-top: 11px;
    z-index: -1;
}

ul {
    list-style-type: none;
    padding: 0;
    color: #000000;
}
  
li {
    font-size: 12px;
    display: inline;
    padding-left: 1.5rem;
}

/* Hero Text Styling */

.hero-text-container {
    position: relative;
    margin-top: 45rem;
    margin-left: 3rem;
}

.hero-text {
    position: relative;
    color: white;
    font-style: normal;
    font-weight: 100;
    font-size: 2em;
}

.hero-subtitle-text {
    width: 400px;
    height: 47px;
    margin-top: -20px;
    margin-left: 40px;

    line-height: 47px;

    display: flex;
    align-items: center;
    text-align: center;
    text-transform: lowercase;

    color: #DADADA;
}

.hero-text-divider {
    position: absolute;
    width: 3rem;
    height: 0px;
    margin-top: 4.6rem;
    margin-left: 4.3rem;

    border: .5px solid #FFFFFF;
}

/* Styling the "about" section & text */

.about-container {
    position: absolute;
    width: 100%;
    z-index: -2;

    background: #FFFFFF;
}

.about-container2 {
    position: relative;
    z-index: -1;
    margin: 2.5rem;
    overflow: wrap;

    background: #E9E9E9;
    border: 1px solid #B6B6B6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
}

.about-text {
    position: absolute;
    top: .5rem;
    right: 2rem;

    font-size: 2rem;
}

.about-text-divider {
    position: absolute;
    width: 3rem;
    height: 0px;
    top: 4.7rem;
    right: 5.7rem;

    border: .5px solid #000000;
}

/* Styling the "about" content */

.preamble {
    position: relative;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 10rem;
    
    font-size: 20px;
}

.details {
    position: relative;
}

.frontend {
    display: list-item;
    font-size: 18px;
    margin-top: 3rem;
}

.current-backend {
    display: list-item;
    font-size: 18px;
}

.future-backend {
    display: list-item;
    font-size: 18px;
}

.hosting {
    display: list-item;
    font-size: 18px;
    margin-bottom: 3rem;
}